.search-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  padding: 1rem 3rem;
  background-color: rgba(28, 44, 53, 0.459);

  .spanX {
    width: 2rem;
    height: 2rem;
    opacity: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(28, 44, 53, 0.459);
    &:hover {
      cursor: pointer;
    }
  }

  .search {
    width: 20rem;
    height: 2rem;
    border: none;
    text-align: center;
  }

  .btn {
    margin-left: 0.5rem;
    height: 2rem;
    background-color: #ffffff;
    position: relative;
    line-height: 1.4;
    transition: padding-right 0.3s ease;
  }
  .spinning {
    padding-right: 2.5rem;
    &:before {
      content: "";
      border-radius: 50%;
      right: 6px;
      top: 50%;
      position: absolute;
      border-right: 3px solid #27ae60;
      animation: rotate360 1s infinite linear, exist 0.1s forwards ease;
    }
  }
}

@keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes exist {
  100% {
    width: 15px;
    height: 15px;
    margin: -8px 5px 0 0;
  }
}
